settings.gradle
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.idea/workspace.xml
.idea/modules/statystykaWInf_test.iml
.idea/modules/statystykaWInf_main.iml
.idea/modules/statystykaWInf.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/built.bin
.gradle/3.5-rc-2/taskHistory/taskHistory.lock
.gradle/3.5-rc-2/taskHistory/taskHistory.bin
.gradle/3.5-rc-2/taskHistory/fileSnapshots.bin
.gradle/3.5-rc-2/taskHistory/fileHashes.bin
.gradle/3.5-rc-2/file-changes/last-build.bin
