settings.gradle
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.idea/workspace.xml
.idea/modules/statystykaWInf_test.iml
.idea/modules/statystykaWInf_main.iml
.idea/modules/statystykaWInf.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/built.bin
.gradle/3.5-rc-2/taskHistory/taskHistory.lock
.gradle/3.5-rc-2/taskHistory/taskHistory.bin
.gradle/3.5-rc-2/taskHistory/fileSnapshots.bin
.gradle/3.5-rc-2/taskHistory/fileHashes.bin
.gradle/3.5-rc-2/file-changes/last-build.bin
out/test/classes/loader/DataParserTest.class
out/test/classes/loader/DataLoaderTest.class
out/test/classes/entity/provinces/ProvinceTest.class
out/test/classes/entity/plants/PlantTest.class
out/production/resources/style.css
out/production/resources/img/zyto.png
out/production/resources/img/ziemniak.png
out/production/resources/img/pszenica.png
out/production/resources/img/polskaKolorowa.png
out/production/resources/img/polska.png
out/production/resources/img/owies.png
out/production/resources/img/jeczmien.png
out/production/resources/img/burak.png
out/production/resources/img/asd
out/production/classes/entity/provinces/Lodzkie.class
out/production/classes/entity/provinces/KujawskoPomorskie.class
out/production/classes/entity/provinces/Dolnoslaskie.class
out/production/classes/entity/plants/Wheat.class
out/production/classes/entity/plants/SugarBeets.class
out/production/classes/entity/plants/Rye.class
out/production/classes/entity/plants/Potatoes.class
out/production/classes/entity/plants/Plant.class
out/production/classes/entity/plants/Oat.class
out/production/classes/entity/plants/Barley.class
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/libraries/Gradle__jfree_jfreechart_1_0_13.xml
.idea/libraries/Gradle__jfree_jcommon_1_0_16.xml
src/main/java/loaders/Main.java
out/production/resources/fxml/wykres.fxml
out/production/resources/fxml/window.fxml
out/production/resources/Dane.csv
out/production/classes/loaders/Main.class
out/production/classes/loader/DataParser.class
out/production/classes/loader/DataLoader.class
out/production/classes/gui/wykresy/Wykres.class
out/production/classes/gui/obrazy/Kolor.class
out/production/classes/gui/model/entityFx/ProvinceFx.class
out/production/classes/gui/model/DataSetModel.class
out/production/classes/gui/controllers/WykresController.class
out/production/classes/gui/controllers/WindowController.class
out/production/classes/gui/Main.class
out/production/classes/gui/FXMLUtils.class
out/production/classes/entity/provinces/Zachodniopomorskie.class
out/production/classes/entity/provinces/Wielkopolskie.class
out/production/classes/entity/provinces/WarminskoMazurskie.class
out/production/classes/entity/provinces/Swietokrzyskie.class
out/production/classes/entity/provinces/Slaskie.class
out/production/classes/entity/provinces/Province.class
out/production/classes/entity/provinces/Pomorskie.class
out/production/classes/entity/provinces/Podlaskie.class
out/production/classes/entity/provinces/Podkarpackie.class
out/production/classes/entity/provinces/Opolskie.class
out/production/classes/entity/provinces/Mazwowieckie.class
out/production/classes/entity/provinces/Malopolskie.class
out/production/classes/entity/provinces/Lubuskie.class
out/production/classes/entity/provinces/Lubelskie.class
